.bio__infos{
    display:flex;
    flex-direction:column;
    gap:4rem;
}
.bio__title{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-70);
    grid-area: 1/ 1/ 2/ 2;
    line-height: 1.2em;
    
}
.bio__description{
    line-height: 32px;
    grid-area: 2 / 1 / 3 /2;
    
}

  .bio__facebook {
    color: var(--color-blue);
  }
  .bio__twitter {
    color: var(--color-light-blue);
  }
  .bio__linkedin {
    color: var(--color-dark-blue);
  }
  
.bio__description > span{
    font-weight: var(--font-weight-semi-bold);
}
.bio__docs{
    grid-area:3/ 1 /4 /2 ;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.bio__download, .bio__contact{
    text-decoration: none;
    font-weight: var(--font-weight-semi-bold);
}
.bio__download {
    display:flex ;
    gap:0.3em;
    align-items: center;
}
.bio__contact{
    color: var(--color-white);
    background-color: var(--color-link-bg);
    padding: 0.4rem 4rem;
}
.bio__download--arrow {
    display: inline-block;
    animation: UpDown 1.4s infinite  cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
@keyframes UpDown {
    0%{
        transform: translateY(-0.3rem);
    }
    35%{
        transform: translateY(0.3rem);
    }
    70%{
        transform:translateY(0);
    }
    100%{
        transform: translateY(-0.3rem);
    }
}

.bio__image img{
    width:44rem;
}
.bio__image{
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-self: end;
    align-self: center;
}
.bio__image::before{
    content: "";
    height: 90%;
    width: 100%;
    z-index:-1;
    position: absolute;
    background-color: var(--color-box-img);
    border-radius: 3.7%;
    box-shadow: 4px 8px 32px var(--color-box-shadow);
}