@media screen and (max-width:1000px){
    html{
        font-size: 7px;
    }
}

@media screen and (max-width:800px) {
    .global-container{
        row-gap: 7rem;
    }

    .section--container{
        grid-template-columns: 1fr;
        column-gap: 0;
    }

    .section--bg{
        padding: 7rem 0;
    }

    .bg-loop{
        height: 100vw;
    }

    #toggle__checkbox:checked + .toggle__label::after{
        transform: translatex(2.3rem);
    }
    .toggle__label{
        padding: 3px;
        height: 3rem;
    }
    .bio__image{
        order:-1;
        justify-self: center;
        align-self: center;
    }

    .skills{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 3rem;
    }
    .redux{
        grid-area: 4/1/4/2;
    }
    .react-testing-lib{
        grid-area:4/2/4/3 ;
    }
    .js{
        grid-area:3/1/3/2;
    }

    .projects__image1{
        justify-self: center;
    }
    .projects__project1{
        grid-area: 2/1/2/3;
    }
    .projects__image2{
        grid-area: 3/1/3/2;
        justify-self: center;
    }
    .projects__project2{
        grid-area: 4/1/4/2;
    }

    .contact__form{
        order: -1;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width:500px) {
    html{
        font-size: 5px;
        scroll-padding-top: 25rem;
    }
    
    .bg-loop{
        height: 100vw;
    }

    header{
        padding: 0;
    }
    header::before{
        z-index: 0;
    }
    .nav__list{
        justify-content: center;
    }

    .toggle {
    z-index: 1;
    padding: 3rem 0;
    }
    #toggle__checkbox:checked + .toggle__label::after{
        transform: translatex(2.5rem);
    }
    .toggle__label{
        width: 27px;
        height: 16px;
        padding: 3px;
    }
    .toggle__label::after{
        width: 40%;
        height: 96%;
    }
    .toggle h3{
        font-size: var(--font-size-24);
    }

    .contact__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
    }
    .contact h1{
        font-size: 5rem;
        padding-bottom: 4rem;
    }
    section, footer{
        transition: var(--transition-timing);
    }

    /* Burger menu */
    .burger-menu{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        gap:0.8rem;
        justify-content: center;
        z-index: 0;
    }

    .burger-menu__bar{
        height: 0.45rem;
        width: 5rem;
        background-color: var(--color-text);
        transition: var(--transition-timing);
    }
    header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1){
        transform:translateY(9px) rotate(45deg);
    }
    header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2){
        visibility:hidden;
        opacity: 0;
    }
    header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3){
        transform: translateY(-3px) rotate(-45deg);
    }

    .nav{
        position: absolute;
        width: 100vw;
        background-color: var(--color-background);
        top: 0;
        font-size: var(--font-size-20);
        padding: 3rem 0;
        border-bottom: 1px solid var(--color-input-border);
        z-index: -1;
        transition: var(--transition-timing);
    }
    
    header:has(.burger-menu__checkbox:checked) .nav{
        top:100%
    }
    html:has(.burger-menu__checkbox:checked) section,
    html:has(.burger-menu__checkbox:checked) footer{
        filter: blur(3px);
    }
}